@model AppEvent 

@{
    string strTitle = "Добавление сеанса";
    ViewBag.Title = strTitle;
}

<h1>Введите данные</h1>

<form asp-area="Therapist" asp-controller="Event" asp-action="CreateEvent" method="post" enctype="multipart/form-data">

    <div class="div-box">
        @Html.LabelFor(model => model.Date)
        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Date)
    </div>
    <div class="div-box">
        @Html.LabelFor(model => model.Start)
        @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Start)
    </div>
    <div class="div-box">
        @Html.LabelFor(model => model.End)
        @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.End)
    </div>
    
    <div class="div-box">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <input type="submit" value="Сохранить" />
</form>
